---
import ModalFilter from "../components/ModalFilter.astro";
import ProductCard from "../components/ProductCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Beranda • Toko Online">    
    <main class="bg-gray-100">
        <h1 class="py-16 mx-auto text-center">Order complete</h1>
    </main>
</Layout>
