<div class="group relative overflow-hidden rounded-sm">
    <img
        src="assets/product-default.jpg"
        class="w-full"
    />
    <a
        href=""
        class="font-roboto absolute inset-0 flex items-center justify-center bg-black bg-opacity-40 text-xl font-medium tracking-wide text-white transition group-hover:bg-opacity-50"
    >
        Elektronik
    </a>
</div>