<footer class="border-t border-gray-200 px-4 pb-12 pt-16 sm:px-6 xl:px-0">
    <div class="mx-auto flex max-w-screen-xl flex-col pb-16">
        <div class="lg:flex lg:justify-between">
            <div class="-mx-6 w-full lg:w-2/5">
                <div class="px-6">
                    <div class="flex flex-col gap-y-4">
                        <h1 class="text-primary-500 text-xl font-semibold uppercase">Toko Online</h1>
                        <p class="max-w-md text-base text-gray-500">Selamat datang di Toko Online! Kami adalah destinasi
                            belanja online terbaik di indonesia. Kami menyediakan beragam pilihan produk berkualitas dan
                            layanan terbaik untuk memenuhi kebutuhan belanja Anda.</p>
                    </div>

                    <div class="-mx-2 mt-6 flex gap-6">
                        <a href="#" class="text-gray-400 hover:text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5Z" />
                            </svg>
                        </a>
                        <a href="#" class="text-gray-400 hover:text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231l5.45-6.231Zm-1.161 17.52h1.833L7.045 4.126H5.078L17.044 19.77Z" />
                            </svg>
                        </a>
                        <a href="#" class="text-gray-400 hover:text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                            </svg>
                        </a>
                        <a href="#" class="text-gray-400 hover:text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 32 32">
                                <path fill="currentColor"
                                    d="M8.268 28H2.463V9.306h5.805zM5.362 6.756C3.506 6.756 2 5.218 2 3.362a3.362 3.362 0 0 1 6.724 0c0 1.856-1.506 3.394-3.362 3.394zM29.994 28h-5.792v-9.1c0-2.169-.044-4.95-3.018-4.95c-3.018 0-3.481 2.356-3.481 4.794V28h-5.799V9.306h5.567v2.55h.081c.775-1.469 2.668-3.019 5.492-3.019c5.875 0 6.955 3.869 6.955 8.894V28z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mt-6 lg:mt-0">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    <div>
                        <h3 class="text-sm font-semibold uppercase tracking-wider text-gray-400">Layanan</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Kategori Produk </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Penawaran Spesial
                            </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Flash sale </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Pengalaman Pelanggan
                            </a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold uppercase tracking-wider text-gray-400">Dukungan</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Harga </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Dokumentasi </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Panduan </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Status API </a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold uppercase tracking-wider text-gray-400">Perusahaan</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Tentang Kami </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Blog </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Lowongan Kerja </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Berita </a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold uppercase tracking-wider text-gray-400">Hukum</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Klaim </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Privasi </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Kebijakan </a>
                            <a href="#" class="block text-base text-gray-500 hover:text-gray-900"> Syarat dan Ketentuan
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>